@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.small-text {
  font-size: 0.6rem;
}

.hide-scroll {
  overflow-y: scroll;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-toast {
  background-color: oklch(var(--n));
  color: oklch(var(--nc));
}